.welcome-container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100vw;
  padding-left: 70px;
}

.welcome-container .main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-container h1 {
  font-size: 140px;
  font-style: normal;
  font-weight: 600;
  line-height: 175px;
  letter-spacing: 0em;
  max-width: 1168px;
}

.welcome-container h3 {
  margin-top: 0;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: center;

}

.welcome-container img.app-logo {
  width:100%;
  max-height: 90vh;
  object-fit: contain;
}

.welcome-footer {
  display: flex;
  align-items: center;
}


@media screen and (max-width: 1700px) {
  .welcome-container h1 {
    font-size: 100px;
    line-height: 120px;
  }
}

@media screen and (max-width: 1400px) {
  .welcome-container h1 {
    font-size: 80px;
    line-height: 100px;
  }
}

@media screen and (max-width: 700px) {
  .welcome-container {
    padding:22px
  }
}