.game-container {
  padding: 22px;
  max-width: 1400px;
  margin: auto;
}

.game-header-container {
  margin-bottom: 20px;
}

.game-photo-container {
  margin-top:30px;
  position: relative;
  display: flex;
  justify-content: center;
}

.game-buttons-container {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .game-header-container {
    margin-bottom: 10px;
  }
}