.polaroid-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: relative;
}

.polaroid {
  display:flex;
  align-items: center;
  flex-direction: column;
  padding: 24px;
  background: #fff;
  width: 500px;
  height: 590px;
  border:2px solid #efefef;
}

.polaroid img {
  width: 100%;
  height: 430px;
  border:2px solid #efefef;
  object-fit: cover;
  object-position: center center;
}

.polaroid .polaroid-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100px;
  color: #000;
  font-family: 'Indie Flower',cursive;
  font-size: 55px;
  padding-top: 16px;
}

.polaroid-container .tyrabots {
  width: 150px;
  height: auto;
  position: absolute;
  top: -60px;
  right: -32px;
}

@media screen and (max-width: 1800px) {
  .polaroid {
    width: 400px;
    height: 472px;
    padding: 12px;
  }
  .polaroid img {
    height: 316px;
    border:0;
  }
  .polaroid .polaroid-bottom {
    font-size: 40px;
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .polaroid {
    width: 350px;
    height: 416px;
    padding: 12px;
  }
  .polaroid img {
    height: 300px;
    border:0;
  }
  .polaroid .polaroid-bottom {
    font-size: 40px;
    padding: 0;
  }
}